/* Distributed by Ypliet Denour for use under BSD 3-Clause License. */
/* Modifications are encouraged but sales of my code, whole or modified, are illegal. */
/* Equity among artists start with you. - artist name | page name */

.music-bar {
    position: sticky;
    bottom: 0px;
}
@media (max-width: 34em ) {
    #prev, #next {
        display: none;
    }
}
@media (max-width: 79em ) {
    .img-container {
        max-width: 3em;
    }
    .funnel {
        display: none;
    }
    .music-container {
        grid-template-columns: 1fr auto;
    }
    .music-layout {
        padding: 0.75em;
        gap: 0.75em;
    }
    .progress-container {
        width: 50%;
        flex-grow: 1;
    }
    .progress-wrapper {
        width: 100vw;
        order: 1;
    }
    .time-display {
        display: none;
    }
}
@media (min-width: 79em) {
    .music-container {
        grid-template-columns: 1fr auto 1fr;
    }
    .progress {
        border-radius: 5px;
    }
    .progress-container {
        height: 5px;
        max-width: 33%;
        border-radius: 5px;
    }
}
h4 {
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 55%;
}
.action-btn {
    border: 0;
    color: #dfdbdf;
    font-size: var(--fs-600);
    cursor: pointer;
    padding: 0.5em 0.4em 0.5em 0.4em;
}
.action-btn:focus {
    outline: 0;
    color: #f1f1f1;
    transition: all 0.1s ease-in-out;
}
.action-btn.action-btn-big {
    color: #9da0ff;
    font-size: 30px;
}
.controls-section {
    justify-content: center;
    flex: 1;
}
.img-container {
    max-width: 3.6em;
    min-height: 3.6em;
    flex-shrink: 0;
}
.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    object-fit: cover;
}
.music-container {
    display: grid;
    align-items: center;
    width: 100%;
    padding: 0.75em;
    background-color: rgba(39, 39, 39);
    height: 5em;
    border-radius: 0.5em 0.5em 0em 0em;
}
.info-container {
    grid-column: 1;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em;
    overflow: hidden;
    width: 100%;
    min-width: 0;
}
.controls-container {
    display: flex;
    flex: auto 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.funnel-container {
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.funnel {
    margin-left: auto; /* Pushes content to the right */
    text-align: right;
}
.music-info {
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 0 0;
    position: absolute;
    width: calc(100% - 40px);
    opacity: 0;
    z-index: 1;
}
.music-info h4 {
    margin: 0;
}
.music-layout {
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 1em;
    width: 100%;
}
.nav-container {
    display: flex;
    justify-content: center;
    grid-column: 2;
}
.music-container.play .music-info {
    opacity: 1;
}
.navigation {
    display: flex;
    align-content: center;
    z-index: 1;
}
.progress-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em !important;
    background-color: #272727;
}
.progress-container {
    order: 1;
    background: #0f0f0f;
    cursor: pointer;
    height: 5px;
    width: 100%; /* Ypliet Denour */
    margin: 0;
    flex: 1 1 1;
}
.progress {
    background-color: #f1f1f1;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}
.current-time {
}
.duration-time {
}
.song-info {
    flex-grow: 1;
    text-align: left;
    h4 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    color: #dfdbdf;
    font-size: var(--fs-body);
    text-overflow: ellipsis;
    }
}
.time-display {
    order: 1;
    color: #dfdbdf;
    font-size: 0.8em;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    flex-shrink: 0;
    min-width: 3em;
    margin: 0;
}
#currTime, #durTime {
    margin: 0;
}
#currTime {
    margin-right: 0.25em;
}
#durTime {
    margin-left: 0.25em;
}